.footer {
    height: 200px;
        position: relative;
        bottom: 0;
        background-color:black;
        width: 100%;
        text-align: center;
    }
.listt{
   /* width: 100%; */
   align-items: center;
}
img{
   width: 80px;
    justify-content: center;
   padding: 8px 25px ;
   flex: 3;
}
.listt>img:hover{
    transform: scale(1.34);
    /* background-color: gray; */
    /* flex: 3; */
}
.head{
    font-size: 40px;
}
